* {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    height: 100%;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

/************************* first page styling ************************/
.my-nav{
    position: absolute;
    z-index: 10;
    width: 100%;
}

.carousel-inner{
    text-align: center;
}

.carousel-item img{
    filter: brightness(65%);
    height: 100vh;
}

.carousel-caption{
    margin-bottom: 50vh;
}

.kidneyicon {
    width: 3rem;
}

.nav-link{
    font-weight: bold;
    color: white;
}
.nav-link:hover{
    color: #d7d7e0;
}

.btn {
    margin-top: 10px;
    font-weight: bold;
}

.subtitle{
    font-weight: bold;
    font-size: 4rem;
}

.desc{
    font-weight: normal;
    font-size: 2rem;
    position: absolute;
}
/****************************** end of first page styling ************************/

/****************************** chat bot styling ************************/
#sntch_button{
    position:absolute;
    bottom: 50px !important;
    right: 50px !important;
}
/****************************** end of chat bot styling ************************/


/****************************** second page styling ******************************/
form {
    padding: 0 10%;
}

form section {
    width: calc(50% - 40px);
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

form section.left {
    float: left;
}

form section.right {
    float: right;
}

form section .input-container {
    padding: 20px;
}

form section .input-container label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

form section .input-container select, form section .input-container input{
    width: 100%;
    padding: 20px 20px;
    background-color: white;
    box-shadow: 1px 1px 2px 1px gray;
    border-radius: 50px;
    border: none;
    font-size: 16px;
}

form section .input-container select:invalid {
    color: gray;
}

form section .input-container select [disabled] {
    color: gray;
}

form section .input-container select:focus, form section .input-container input:focus{
    outline: none;
    background: white;
}

form section .input-container textarea {
    height: 122px;
    padding: 15px 10px;
    resize: none;
}

.submitbtn:hover {
    background: #d82234;
}

form:after {
    content: "";
    display: block;
    clear: both;
}

.submitbtn{
    margin: 0 46%;
}

/****************************** end of second page styling ***************************/

/****************************** attributes page styling ******************************/
.thirdpage{
    margin: 5rem 0;
}

.titles{
    padding-top: 3rem;
    font-weight: bold;
    text-align: center;
}

.wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
   max-width: 300px;
    min-height: 250px;
    background: #f5a2a0;
    padding: 30px;
     border-radius: 3px;
    box-sizing: border-box;
    color: #FFF;
    margin:20px;
     box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}

.card:nth-child(even){
   background: #97bdf9;
}

.card-title{
    margin-top: 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.2px;
}

.card-content{
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.card-btn{
    all: unset;
    display: block;
    margin-left: auto;
    border: 2px solid #FFF;
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 10px;
    font-weight: 600;
    transition: all 0.5s;
    cursor: pointer;
    letter-spacing: 1.2px;
}

.card-btn:hover{
   color:#02b875;
   background: #FFF;
}

.card:nth-child(2) .card-btn:hover{
   color:#4181ee;
   background: #FFF;
}

.card:last-child .card-btn:hover{
   color:#673ab7;
    background: #FFF;
}
/****************************** end of attributes page styling ******************************/

/****************************** footer styling ******************************/
.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
      overflow-x: hidden;
}

.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}

.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    padding: 27px 0px;
}

.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}

.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #5e2ced;
}

.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}

.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}

.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}

.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}

.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}

.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.ti-facebook:before {
    content: "\e741";
}

.ti-twitter-alt:before {
    content: "\e74b";
}

.ti-vimeo-alt:before {
    content: "\e74a";
}

.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5e2ced;
    border-color: #5e2ced;
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
    color:white;
}

.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
    text-decoration: none;
}

.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}

.f_600 {
    font-weight: 600;
}

.f_size_18 {
    font-size: 18px;
}

.new_footer_top .f_widget.about-widget .f_list li a {
    color: #3e4044;
    text-decoration: none;
}

.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
    background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
    background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}

@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

/****************************** end of footer styling ***********************/

/****************************** responsiveness ******************************/
@media (max-width: 992px) {
    form {
      padding: 0 5%;
    }
}

@media (max-width: 768px) {
    .carousel-caption{
        margin-bottom: 50vh;
    }
    .subtitle{
        font-size: 1.5rem;
    }
    .desc{
        font-size: 1rem;
    }
    form {
      margin-bottom: 50px;
      align-self: center;
    }
    form section {
      width: 100%;
      margin: 0;
    }
    form section.left {
      margin-bottom: -30px;
    }
    form .send-container {
      margin-right: 0;
      margin-top: 15px;
    }
    form .send-container select {
      width: 100%;
    }
}

@media screen and (min-width: 1018px) {
    .firstpage{
        height: 100vh;
    }
    .homeimg {
        width: 130%;
    }
}
/****************************** end of responsiveness ******************************/
